/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
  /* font-family: "TeXGyrePagella", "Palatino Linotype", "Book Antiqua", Palatino, serif; */
  font-family: "Open Sans", Arial, sans-serif;
}

/*h1,h5 {
	color: #9f2e2c;
	font-weight: 600;
	display: block;
}*/

h1,h5 {
    color: #CEB888;
}

.fsu-gold {
    color: #CEB888;
}

.fsu-bold-gold {
    color: #CEB888;
    font-weight: bold;
}

.bg-fsu-garnet{
background-color: #782F40;
}

.title {
    font-weight: 600;
}

.highlight {
    color: #9f2e2c;
}

.section {
    padding-bottom: 10px;
}

li:last-child {
    margin-bottom: -5px;
}

a:link, a:visited, a:hover {
    /* color: #011F5B; */
    color: #003399;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #666666;
    border-color: #666666;
}

/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
         url('../fonts/open-sans-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* open-sans-600 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
         url('../fonts/open-sans-v15-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v15-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

span.author,
span.author a:link,
span.author a:visited {
  color: #777777
}

span.code {
    font-family: source-code-pro, "Open Sans", Arial, sans-serif;
}